<mat-drawer-container 
autosize="true"
class="min-h-full max-w-7xl mx-auto border-x">
<mat-drawer mode="side" opened class="p-6">
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
</mat-drawer>
<mat-drawer-content class="p-6">
<app-products-header 
(itemsCountChange)="onItemsCountChange($event)"
(sortChange)="onSortChange($event)"
(columsCountChange)="onColumnsCountChange($event)"></app-products-header>
<mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
    <div *ngIf="!isLoaded" class="flex justify-center p-6">
        <mat-progress-spinner mode="determinate"></mat-progress-spinner>
        <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngIf="isLoaded">
<mat-grid-tile *ngFor="let product of products">
    <app-product-box 
    [product]="product"
    (addToCart) ="onAddToCart($event)"
    class="w-full" 
    [fullWidthMode]="cols === 1">
    </app-product-box>
</mat-grid-tile>
</ng-container>
</mat-grid-list>

<pagination *ngIf="isLoaded" [currentPage]="page" 
[limit]="12" 
[total]="120" 
(changePage)="changePage($event)"></pagination>
</mat-drawer-content>

</mat-drawer-container>